html{
    --bg-color: #1A1A1A;
    --text-color: #f7ecda;
    --container-color1: #535557;
    --container-color2: #F1A118;
    --container-color3: #cfcccc;
    --container-color4: #7c7a7a;

    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: justify;
}

